.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }

  /* 滚动条 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e58a8a;
  background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #e58a8a;
}





/* 博主昵称颜色 */
.author-info__name {
  color: #ff7242;
}

/* a标签默认颜色 */

#article-container a {
  color: #00c4b6;
  text-decoration: none;
}

/* 鼠标悬停时的颜色 */

#article-container a:hover {
  color: #e58a8a;
  text-decoration: none;
}
/*a标签颜色*/
a {
  color: #00c4b6;
}

.button--animated {
  padding: 1.2em 2em;
  text-decoration: none;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
  position: relative;
  transition: transform .2s ease;
  font-weight: bold;
  letter-spacing: .01em;
  will-change: transform;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: perspective(800px);
  border-radius: 12px;
}



.pageclip-form__submit::after {
  border-color: rgba(0, 255, 0, 0.8);
  border-left-color: blue;
}